<div infinite-scroll (scrolled)="onScrollDown($event)" [infiniteScrollDistance]="0" class="books">
    <div *ngFor="let book of books; let idx = index;" class="book" title="{{ book.summary }}">
        <img [src]="book.imageUrl" *ngIf="book.imageUrl" />
        <img src="../../../../../assets/images/no-image.png" *ngIf="!book.imageUrl" />
        <span class="title">{{ book.title }}</span>
        <span class="author">Author: {{ book.author }}</span>
        <span class="publisher" *ngIf="book.publisher">Publisher: {{ book.publisher }}</span>
    </div>
</div>