@import '../../../../../assets/scss/index';

form {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;

    .content-left {
        flex-grow: 1;
        min-width: 30%;

        .upload {
            background-color: #fff;
            width: calc(100% - 60px);
            padding: 20px;
            margin: 20px 0 0;
            height: calc(100% - 50px);
        }

        img {
            width: 200px;
            height: 300px;
            object-fit: cover;
            display: block;
            margin: 10px auto;
        }

        input {
            object-fit: cover;
            display: block;
            width: 100%;
        }
    }

    .content-right {
        flex-grow: 2;
        min-width: 60%;

        input, textarea {
            display: block;
            width: 100%;
            padding: 10px;
            margin: 20px 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border: none;
        }

        textarea {
            height: 300px;
        }
    }

    .submit {
        text-align: right;
        
        button {
            width: 100%;
            background-color: #1598D0;
            border: 0;
            color: #FFF;
            font-size: 20px;
            padding: 20px;
            font-weight: 600;

            &:disabled {
                background-color: #cccccc;
                color: #666666;
            }

            @include desktop {
                width: 20rem;
            }
        }
    }
}